{% for item in site.data.settings.sidebar_CTAs %}
<div class="cta-card">

  {% if item.video.enabled == true %}
  <div class="video-container">
    <div class="video-wrapper">
      <video src="{{ item.video.path }}" playsinline autoplay muted loop></video>
    </div>
  </div>
  {% else %}
  <div class="cta-image-container">
    <img src="{{ site.baseurl }}{{ item.image }}" alt="Dummy text" />
  </div>
  {% endif %}

  <div class="cta-text-container">
    <div class="cta-title">{{ item.title }}</div>
    <div class="cta-text">{{ item.text }}</div>
    <div class="cta-new-button">

      {% if item.open_in_new_tab == true %}
      <a href="{{ item.url }}" target="_blank" rel="noreferrer noopener">{{ item.button_text }}</a>
      {% else %}
      <a href="{{ item.url }}">{{ item.button_text }}</a>
      {% endif %}

    </div>
  </div>
</div>
{% endfor %}

<div class="cta-card">
  <div class="video-container">
    <div class="video-wrapper">
      <video controls="controls" class="post-video">
        <source src="/uploads/evergreen.mp4" type="video/mp4">
      </video>
      </div>
    </div>
</div>
<div class="cta-card">
  <div class="video-container">
    <div class="video-wrapper">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/QCoh9sEkXJ8" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="cta-card">
  <div class="video-container">
    <div class="video-wrapper">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/2CpA9VBgs4I" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>