{% for item in site.data.settings.sidebar_CTAs %}
<div class="cta-card">

  {% if item.video.enabled == true %}
  <div class="video-container">
    <div class="video-wrapper">
      <video src="{{ item.video.path }}" playsinline autoplay muted loop></video>
    </div>
  </div>
  {% else %}
  <div class="cta-image-container">
    <img src="{{ site.baseurl }}{{ item.image }}" alt="Dummy text" />
  </div>
  {% endif %}

  <div class="cta-text-container">
    <div class="cta-title">{{ item.title }}</div>
    <div class="cta-text">{{ item.text }}</div>
    <div class="cta-new-button">

      {% if item.open_in_new_tab == true %}
      <a href="{{ item.url }}" target="_blank" rel="noreferrer noopener">{{ item.button-text }}</a>
      {% else %}
      <a href="{{ item.url }}">{{ item.button-text }}</a>
      {% endif %}

    </div>
  </div>
</div>
{% endfor %}
