<head>

  <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
  <link data-cms-original-href="css/main.css" href="/css/main.css?_cchid=d2511d5ab16580ce610a9ba0cdd32672"
    rel="stylesheet">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description | replace: '-- MARKET --', site.data.settings.client.market | replace: '-- CLIENT BRAND --', site.data.settings.client.brand }}{% endif %}">

  <meta content="index, follow" name="robots">
  <meta content="index, follow" name="googlebot">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8">
  <meta name="copyright" content="Vyral Marketing, Inc." />

  <script src="/js/lightbox.js" type="text/javascript" defer></script>
  <script src="/js/script.js" type="text/javascript" defer></script>

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '909073350302686');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=909073350302686&ev=PageView
  &noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-679563641"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-679563641');
  </script>

  {% if site.data.settings.code.meta_pixel_code %}
  <!-- client Meta Pixel -->
  {{ site.data.settings.code.meta_pixel_code }}
  {% endif %}

  <!--OPEN GRAPH TAGS FOR SOCIAL MEDIA SHARING -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}">

  {% if page.is_post %}

    <meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description | replace: '-- MARKET --', site.data.settings.client.market | replace: '-- CLIENT BRAND --', site.data.settings.client.brand }}{% endif %}">
     {% if page.youtube_code %}
      <meta property="og:image" content="https://img.youtube.com/vi/{{page.youtube_code | remove: 'https://youtu.be/' | remove: 'https://www.youtube.com/watch?v='}}/maxresdefault.jpg">
    {% else %}
      <meta property="og:image" content="{{ site.data.settings.podcast.client_website_URL }}{{ page.youtube_alternate_image }}">
    {% endif %}

    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
  {% else %}
    <meta property="og:description" content="{{site.data.settings.description | replace: '-- MARKET --', site.data.settings.client.market | replace: '-- CLIENT BRAND --', site.data.settings.client.brand }}">

    {% if site.data.settings.podcast.client_website_URL %}
      <meta property="og:image" content="{{ site.data.settings.podcast.client_website_URL }}{{site.data.settings.share_image}}">
    {% else %}
      <meta property="og:image" content="{{ site.baseurl }}{{site.data.settings.share_image}}">
    {% endif %} 

    {% if site.data.settings.podcast.client_website_URL %}
      <meta property="og:url" content="{{ site.data.settings.podcast.client_website_URL }}">
    {% else %}
      <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %} 

  {% endif %}

  {% if site.data.settings.fb-admins %}
    <meta property="fb:admins" content="{{ site.data.settings.fb-admins }}">
  {% endif %}

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  {% if site.data.settings.podcast.client_website_URL %}
    <meta property="twitter:domain" content="{{ site.data.settings.podcast.client_website_URL | remove: 'https://' }}">
  {% else %}
    <meta property="twitter:domain" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %} 

  {% if page.is_post %}
      <meta property="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% else %}

    {% if site.data.settings.podcast.client_website_URL %}
      <meta property="twitter:url" content="{{ site.data.settings.podcast.client_website_URL }}">
    {% else %}
      <meta property="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %} 

  {% endif %}
 
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}">
  {% if page.is_post %}

    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description | replace: '-- MARKET --', site.data.settings.client.market | replace: '-- CLIENT BRAND --', site.data.settings.client.brand }}{% endif %}">

    {% if page.youtube_code %}
      <meta name="twitter:image" content="https://img.youtube.com/vi/{{page.youtube_code | remove: 'https://youtu.be/' | remove: 'https://www.youtube.com/watch?v='}}/maxresdefault.jpg">
    {% else %} 
      <meta name="twitter:image" content="{{ site.data.settings.podcast.client_website_URL }}{{ page.youtube_alternate_image }}">
    {% endif %} 

  {% else %}

    <meta name="twitter:description" content="{{site.data.settings.description | replace: '-- MARKET --', site.data.settings.client.market | replace: '-- CLIENT BRAND --', site.data.settings.client.brand }}">

    {% if site.data.settings.podcast.client_website_URL %}
      <meta name="twitter:image" content="{{ site.data.settings.podcast.client_website_URL }}{{site.data.settings.share_image}}">
    {% else %}
      <meta name="twitter:image" content="{{ site.baseurl }}{{site.data.settings.share_image}}">
    {% endif %} 

  {% endif %}

  <!-- FONTS -->
  {{ site.data.settings.fonts.google_fonts_link_code }}

  <!-- style-->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.data.settings.title }}" href="{{ site.baseurl }}{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <!-- FAVICONS -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="theme-color" content="{{site.data.settings.site_colors.theme_color}}">
  <link rel="manifest" href="/manifest.json">

</head>