{% if site.data.settings.5star_reviews.enabled %}
<div class="reviews-container">
    <button class="slider-arrow slider-prev"><i class="fas fa-chevron-left"></i></button>
    <button class="slider-arrow slider-next"><i class="fas fa-chevron-right"></i></button>
        
    <div class="reviews-slider">
        {% for review in site.data.settings.5star_reviews.excerpts %}
            <div class="review-card">
            <div class="review-author">
                <!-- <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="User" class="author-avatar"> -->
                <div class="author-name">{{ review.name }}</div>
            </div>
            <div class="review-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="review-text">
                "{{ review.text }}"
            </div>
        </div>
        {% endfor %}
    </div>
        
    <div class="slider-nav">
        <div class="slider-dot active"></div>
        <div class="slider-dot"></div>
        <div class="slider-dot"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            const slider = $('.reviews-slider');
            const cards = $('.review-card');
            const dots = $('.slider-dot');
            const cardWidth = cards.outerWidth(true);
            let currentIndex = 0;
            
            // Set initial position
            updateSlider();
            
            // Next button click
            $('.slider-next').click(function() {
                if (currentIndex < cards.length - 1) {
                    currentIndex++;
                    updateSlider();
                }
            });
            
            // Prev button click
            $('.slider-prev').click(function() {
                if (currentIndex > 0) {
                    currentIndex--;
                    updateSlider();
                }
            });
            
            // Dot navigation click
            dots.click(function() {
                currentIndex = $(this).index();
                updateSlider();
            });
            
            // Swipe functionality for mobile
            let touchStartX = 0;
            let touchEndX = 0;
            
            slider.on('touchstart', function(e) {
                touchStartX = e.changedTouches[0].screenX;
            });
            
            slider.on('touchend', function(e) {
                touchEndX = e.changedTouches[0].screenX;
                handleSwipe();
            });
            
            function handleSwipe() {
                if (touchEndX < touchStartX - 50 && currentIndex < cards.length - 1) {
                    // Swipe left
                    currentIndex++;
                    updateSlider();
                }
                
                if (touchEndX > touchStartX + 50 && currentIndex > 0) {
                    // Swipe right
                    currentIndex--;
                    updateSlider();
                }
            }
            
            function updateSlider() {
                const translateX = -currentIndex * cardWidth;
                slider.css('transform', `translateX(${translateX}px)`);
                
                // Update dots
                dots.removeClass('active');
                dots.eq(currentIndex).addClass('active');
                
                // Hide/show arrows
                $('.slider-prev').toggle(currentIndex > 0);
                $('.slider-next').toggle(currentIndex < cards.length - 1);
            }
            
            // Make responsive on window resize
            $(window).resize(function() {
                cardWidth = cards.outerWidth(true);
                updateSlider();
            });
        });
    </script>
{% endif}