{% if site.data.settings.5star_reviews.enabled %}
<div class="reviews-container-slider">
    <button class="slider-arrow slider-prev"><i class="fas fa-chevron-left"></i></button>
    <button class="slider-arrow slider-next"><i class="fas fa-chevron-right"></i></button>
        
    <div class="reviews-slider">
        {% for review in site.data.settings.5star_reviews.excerpts %}
            <div class="review-card">
            <!-- <div class="review-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div> -->
            <img src="{{ site.baseurl }}/img/5-stars.png" alt="5 star rating" width="130" height="25" />
            <div class="review-text">
                "{{ review.text }}"
            </div>
            <div class="review-author">
                <!-- <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="User" class="author-avatar"> -->
                <div class="author-name">- {{ review.name }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
        
    <div class="slider-nav">
        <div class="slider-dot active"></div>
        <div class="slider-dot"></div>
        <div class="slider-dot"></div>
    </div>
</div>
{% endif %}